# US - Baby Names
### Introduction:
##### We are going to use a subset of US Baby Names (https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.
##### In the file it will be names from 2004 until 2014

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this address:
https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv
### Step 3. Assign it to a variable called baby_names.

In [2]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv'
baby_names = pd.read_csv(url)
baby_names.head()

   Unnamed: 0     Id     Name  Year Gender State  Count
0       11349  11350     Emma  2004      F    AK     62
1       11350  11351  Madison  2004      F    AK     48
2       11351  11352   Hannah  2004      F    AK     46
3       11352  11353    Grace  2004      F    AK     44
4       11353  11354    Emily  2004      F    AK     41

### Step 4. See the first 10 entries

In [3]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [4]:
baby_names.drop(['Unnamed: 0', 'Id'], axis=1, inplace=True)
baby_names.head()

      Name  Year Gender State  Count
0     Emma  2004      F    AK     62
1  Madison  2004      F    AK     48
2   Hannah  2004      F    AK     46
3    Grace  2004      F    AK     44
4    Emily  2004      F    AK     41

### Step 6. Is there more male or female names in the dataset?

In [5]:
baby_names['Gender'].value_counts()

F    558846
M    457549
Name: Gender, dtype: int64

### Step 7. Group the dataset by name and assign to names
##### group the data

##### print the first 5 observations

##### print the size of the dataset

##### sort it from the biggest value to the smallest one

In [6]:
baby_names.drop('Year', axis=1, inplace=True)
names = baby_names.groupby('Name').sum()

In [7]:
names.head(5)

         Count
Name
Aaban       12
Aadan       23
Aadarsh      5
Aaden     3426
Aadhav       6

In [8]:
names.shape

(17632, 1)

In [9]:
names.sort_values('Count', ascending=False).head()

           Count
Name
Jacob     242874
Emma      214852
Michael   214405
Ethan     209277
Isabella  204798

### Step 8. How many different names exist in the dataset?

In [54]:
names.count()

Count    17632
dtype: int64

### Step 9. What is the name with most occurrences?

In [11]:
names.sort_values('Count', ascending=False).head(1)

        Count
Name
Jacob  242874

In [12]:
names['Count'].idxmax()

'Jacob'

### Step 10. How many different names have the least occurrences?

In [57]:
len(names[names['Count'] == names['Count'].min()])

2578

### Step 11. What is the median name occurrence?

In [59]:
names[names['Count'] == names['Count'].median()]

            Count
Name
Aishani        49
Alara          49
Alysse         49
Ameir          49
Anely          49
Antonina       49
Aveline        49
Aziah          49
Baily          49
Caleah         49
Carlota        49
Cristine       49
Dahlila        49
Darvin         49
Deante         49
Deserae        49
Devean         49
Elizah         49
Emmaly         49
Emmanuela      49
Envy           49
Esli           49
Fay            49
Gurshaan       49
Hareem         49
Iven           49
Jaice          49
Jaiyana        49
Jamiracle      49
Jelissa        49
...           ...
Kyndle         49
Kynsley        49
Leylanie       49
Maisha         49
Malillany      49
Mariann        49
Marquell       49
Maurilio       49
Mckynzie       49
Mehdi          49
Nabeel         49
Nalleli        49
Nassir         49
Nazier         49
Nishant        49
Rebecka        49
Reghan         49
Ridwan         49
Riot           49
Rubin          49
Ryatt          49
Sameera        49
Sanjuanita     49
Shalyn         49
Skylie         49
Sriram         49
Trinton        49
Vita           49
Yoni           49
Zuleima        49

[66 rows x 1 columns]

### Step 12. What is the standard deviation of names?

In [60]:
names.std()

Count    11006.069468
dtype: float64

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [62]:
names.describe()

               Count
count   17632.000000
mean     2008.932169
std     11006.069468
min         5.000000
25%        11.000000
50%        49.000000
75%       337.000000
max    242874.000000

In [72]:
names.agg(['mean', 'min', 'max', 'std', 'quantile'])

                  Count
mean        2008.932169
min            5.000000
max       242874.000000
std        11006.069468
quantile      49.000000

# Wind Statistics
### Introduction:
##### The data have been modified to contain some missing values, identified by NaN.
##### Using pandas should make this exercise easier, in particular for the bonus question.

##### You should be able to perform all of these operations without using a for loop or other looping construct.

##### The data in 'wind.data' has the following format:
In [434]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""
Out[434]:
'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'
##### The first three columns are year, month and day. The remaining 12 columns are average windspeeds in knots at 12 locations in Ireland on that day.

##### More information about the dataset go here: https://render.githubusercontent.com/view/wind.desc

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

In [2]:
import datetime

### Import the dataset from this address: https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data
### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [83]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data'

In [84]:
data = pd.read_table(url, sep='\s+', parse_dates = [[0,1,2]])

In [85]:
data.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [86]:
data['Yr_Mo_Dy'][0].year

2061

In [87]:
data.dtypes

Yr_Mo_Dy    datetime64[ns]
RPT                float64
VAL                float64
ROS                float64
KIL                float64
SHA                float64
BIR                float64
DUB                float64
CLA                float64
MUL                float64
CLO                float64
BEL                float64
MAL                float64
dtype: object

In [88]:
data['Yr_Mo_Dy'].unique()

array(['2061-01-01T00:00:00.000000000', '2061-01-02T00:00:00.000000000',
       '2061-01-03T00:00:00.000000000', ...,
       '1978-12-29T00:00:00.000000000', '1978-12-30T00:00:00.000000000',
       '1978-12-31T00:00:00.000000000'], dtype='datetime64[ns]')

In [89]:
def fix_year(x):
    year = x.year
    if x.year == 2061:
        year = x.year-100
        return datetime.date(year, x.month, x.day)
    else:
        return datetime.date(x.year, x.month, x.day)

In [90]:
data['Yr_Mo_Dy'] = data['Yr_Mo_Dy'].apply(fix_year)
data.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [91]:
# function that uses datetime
def fix_century(x):
  year = x.year - 100 if x.year > 1989 else x.year
  return datetime.date(year, x.month, x.day)

# apply the function fix_century on the column and replace the values to the right ones
data['Yr_Mo_Dy'] = data['Yr_Mo_Dy'].apply(fix_century)

# data.info()
data.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [92]:
data.dtypes

Yr_Mo_Dy     object
RPT         float64
VAL         float64
ROS         float64
KIL         float64
SHA         float64
BIR         float64
DUB         float64
CLA         float64
MUL         float64
CLO         float64
BEL         float64
MAL         float64
dtype: object

In [93]:
data['Yr_Mo_Dy'] = data['Yr_Mo_Dy'].astype('datetime64[ns]')

In [94]:
data.dtypes

Yr_Mo_Dy    datetime64[ns]
RPT                float64
VAL                float64
ROS                float64
KIL                float64
SHA                float64
BIR                float64
DUB                float64
CLA                float64
MUL                float64
CLO                float64
BEL                float64
MAL                float64
dtype: object

In [95]:
data.set_index('Yr_Mo_Dy', drop=True, inplace=True)

In [96]:
data.head().head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 6. Compute how many values are missing for each location over the entire record.
They should be ignored in all calculations below.

In [97]:
data.isnull().head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961-01-01,False,False,False,False,True,False,False,False,False,False,False,False
1961-01-02,False,True,False,False,False,False,False,False,False,False,False,False
1961-01-03,False,False,False,False,False,False,False,True,False,False,False,False
1961-01-04,False,False,False,False,False,False,False,False,False,False,False,False
1961-01-05,False,False,False,False,False,False,False,False,False,False,False,False

In [98]:
data.isnull().sum().sum()

31

In [99]:
data.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

In [100]:
data.notnull().sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [101]:
data.count()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

In [102]:
len(data.index)

6574

In [103]:
data.notnull().describe()

         RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
count   6574  6574  6574  6574  6574  6574  6574  6574  6574  6574  6574  6574
unique     2     2     2     2     2     1     2     2     2     2     1     2
top     True  True  True  True  True  True  True  True  True  True  True  True
freq    6568  6571  6572  6569  6572  6574  6571  6572  6571  6573  6574  6570

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.

In [104]:
(data - data.isnull().sum()).mean().sum() / len(data.columns)

7.644649027503598

In [105]:
data.sum().sum() / data.notnull().sum().sum()

10.227883764282167

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days
A different set of numbers for each location.

In [106]:
data.describe()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
count,6568.000000,6571.000000,6572.000000,6569.000000,6572.000000,6574.000000,6571.000000,6572.000000,6571.000000,6573.000000,6574.000000,6570.000000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
std,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
25%,8.120000,6.670000,8.000000,3.580000,6.750000,4.000000,6.000000,5.090000,5.370000,5.330000,8.710000,10.710000
50%,11.710000,10.170000,10.920000,5.750000,9.960000,6.830000,9.210000,8.080000,8.170000,8.290000,12.500000,15.000000
75%,15.920000,14.040000,14.670000,8.420000,13.540000,9.670000,12.960000,11.420000,11.190000,11.630000,16.880000,19.830000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000

In [107]:
loc_stats = data.agg(['min', 'max', 'mean', 'std'])

In [108]:
loc_stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
std,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.
A different set of numbers for each day.

In [109]:
day_stats = data.agg(['min', 'max', 'mean', 'std'], axis = 1)

TypeError: ("'list' object is not callable", 'occurred at index 1961-01-01 00:00:00')

In [118]:
day_stats['Min'] = data.min(axis=1)

In [116]:
day_stats.drop(day_stats.loc[: ,'RPT':'MAL'], axis=1, inplace=True)

In [123]:
day_stats = pd.DataFrame()

In [124]:
day_stats

Empty DataFrame
Columns: []
Index: []

In [125]:
day_stats['min'] = data.min(axis = 1) # min
day_stats['max'] = data.max(axis = 1) # max 
day_stats['mean'] = data.mean(axis = 1) # mean
day_stats['std'] = data.std(axis = 1) # standard deviations

In [137]:
day_stats.head()

             min    max       mean       std
Yr_Mo_Dy
1961-01-01  9.29  18.50  13.018182  2.808875
1961-01-02  6.50  17.54  11.336364  3.188994
1961-01-03  6.17  18.50  11.641818  3.681912
1961-01-04  1.79  11.75   6.619167  3.198126
1961-01-05  6.17  13.33  10.630000  2.445356

### Step 11. Find the average windspeed in January for each location.
Treat January 1961 and January 1962 both as January.

In [134]:
data[data.index.month == 1].mean()

RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

In [135]:
data.mean()

RPT    12.362987
VAL    10.644314
ROS    11.660526
KIL     6.306468
SHA    10.455834
BIR     7.092254
DUB     9.797343
CLA     8.495053
MUL     8.493590
CLO     8.707332
BEL    13.121007
MAL    15.599079
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [144]:
data.groupby(data.index.year).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
1962,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
1963,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
1964,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301
1965,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644
1966,13.461973,11.557205,12.020630,7.345726,11.805041,7.793671,10.579808,8.835096,8.514438,9.768959,14.265836,16.307260
1967,12.737151,10.990986,11.739397,7.143425,11.630740,7.368164,10.652027,9.325616,8.645014,9.547425,14.774548,17.135945
1968,11.835628,10.468197,11.409754,6.477678,10.760765,6.067322,8.859180,8.255519,7.224945,7.832978,12.808634,15.017486
1969,11.166356,9.723699,10.902000,5.767973,9.873918,6.189973,8.564493,7.711397,7.924521,7.754384,12.621233,15.762904
1970,12.600329,10.726932,11.730247,6.217178,10.567370,7.609452,9.609890,8.334630,9.297616,8.289808,13.183644,16.456027
1971,11.273123,9.095178,11.088329,5.241507,9.440329,6.097151,8.385890,6.757315,7.915370,7.229753,12.208932,15.025233
1972,12.463962,10.561311,12.058333,5.929699,9.430410,6.358825,9.704508,7.680792,8.357295,7.515273,12.727377,15.028716
1973,11.828466,10.680493,10.680493,5.547863,9.640877,6.548740,8.482110,7.614274,8.245534,7.812411,12.169699,15.441096
1974,13.643096,11.811781,12.336356,6.427041,11.110986,6.809781,10.084603,9.896986,9.331753,8.736356,13.252959,16.947671
1975,12.008575,10.293836,11.564712,5.269096,9.190082,5.668521,8.562603,7.843836,8.797945,7.382822,12.631671,15.307863
1976,11.737842,10.203115,10.761230,5.109426,8.846339,6.311038,9.149126,7.146202,8.883716,7.883087,12.332377,15.471448
1977,13.099616,11.144493,12.627836,6.073945,10.003836,8.586438,11.523205,8.378384,9.098192,8.821616,13.459068,16.590849
1978,12.504356,11.044274,11.380000,6.082356,10.167233,7.650658,9.489342,8.800466,9.089753,8.301699,12.967397,16.771370

### Step 13. Downsample the record to a monthly frequency for each location.

In [145]:
data.groupby(data.index.month).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1,14.847325,12.914560,13.299624,7.199498,11.667734,8.054839,11.819355,9.512047,9.543208,10.053566,14.550520,18.028763
2,13.710906,12.111122,12.879132,6.942411,11.551772,7.633858,11.206024,9.341437,9.313169,9.518051,13.728898,17.156142
3,13.158687,11.505842,12.648118,7.265907,11.554516,7.959409,11.310179,9.635896,9.700324,10.096953,13.810609,16.909317
4,12.555648,10.429759,12.204815,6.898037,10.677667,7.441389,10.221315,8.909056,8.930870,9.158019,12.664759,14.937611
5,11.724032,10.145619,11.550394,6.307487,10.224301,6.942061,8.797738,8.452903,8.040806,8.524857,12.767258,13.736039
6,10.451317,8.949704,10.361315,5.652278,9.529926,6.410093,8.009556,7.920796,7.639796,7.729185,12.246407,12.861818
7,9.992007,8.357778,9.349642,5.416935,9.302634,5.972348,7.843501,7.262760,7.544480,7.321416,11.676505,12.800789
8,10.213411,8.415143,9.993441,5.270681,8.901559,5.891057,7.772312,6.842025,7.240573,7.002783,11.110090,12.565943
9,11.458519,9.981002,10.756883,5.615176,9.766315,6.566222,8.609722,7.745677,7.610556,7.689278,12.686389,14.761963
10,12.660610,11.010681,11.453943,6.065215,10.550251,7.159910,9.387778,8.726308,8.347181,8.850376,14.155323,16.697151
11,13.200722,11.639500,12.293407,6.247611,10.501130,7.134333,10.814861,8.427167,8.604000,8.943167,13.815741,18.114185
12,14.446398,12.353602,13.212276,6.829910,11.301254,7.963710,11.849050,9.209355,9.447258,9.627670,14.259516,18.697599

In [148]:
data.groupby(data.index.to_period('M')).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961-01,14.841333,11.988333,13.431613,7.736774,11.072759,8.588065,11.184839,9.245333,9.085806,10.107419,13.880968,14.703226
1961-02,16.269286,14.975357,14.441481,9.230741,13.852143,10.937500,11.890714,11.846071,11.821429,12.714286,18.583214,15.411786
1961-03,10.890000,11.296452,10.752903,7.284000,10.509355,8.866774,9.644194,9.829677,10.294138,11.251935,16.410968,15.720000
1961-04,10.722667,9.427667,9.998000,5.830667,8.435000,6.495000,6.925333,7.094667,7.342333,7.237000,11.147333,10.278333
1961-05,9.860968,8.850000,10.818065,5.905333,9.490323,6.574839,7.604000,8.177097,8.039355,8.499355,11.900323,12.011613
1961-06,9.904138,8.520333,8.867000,6.083000,10.824000,6.707333,9.095667,8.849333,9.086667,9.940333,13.995000,14.553793
1961-07,10.614194,8.221613,9.110323,6.340968,10.532581,6.198387,8.353333,8.284194,8.077097,8.891613,11.092581,12.312903
1961-08,12.035000,10.133871,10.335806,6.845806,12.715161,8.441935,10.093871,10.460968,9.111613,10.544667,14.410000,14.345333
1961-09,12.531000,9.656897,10.776897,7.155517,11.003333,7.234000,8.206000,8.936552,7.728333,9.931333,13.718333,12.921667
1961-10,14.289667,10.915806,12.236452,8.154839,11.865484,8.333871,11.194194,9.271935,8.942667,11.455806,14.229355,16.793226
1961-11,10.896333,8.592667,11.850333,6.045667,9.123667,6.250667,10.869655,6.313667,6.575000,8.383667,10.776667,12.146000
1961-12,14.973548,11.903871,13.980323,7.073871,11.323548,8.302258,11.753548,8.163226,7.965806,9.246774,12.239355,13.098710
1962-01,14.783871,13.160323,12.591935,7.538065,11.779677,8.720000,14.211935,9.600000,9.670000,11.498710,16.369355,15.661613
1962-02,15.844643,12.041429,15.178929,9.262963,13.821429,9.726786,16.916429,11.285357,12.021071,12.126429,16.705357,18.426786
1962-03,11.634333,8.602258,12.110645,6.403226,10.352258,6.732258,10.223226,7.641935,7.092258,8.052581,9.690000,11.509000
1962-04,12.160667,9.676667,12.088333,7.163000,10.544000,7.558000,11.480000,8.722000,8.703667,9.311667,12.234333,11.780667
1962-05,12.745806,10.865484,11.874839,7.471935,11.285806,7.209032,10.105806,9.084516,7.868065,9.293226,12.130000,12.922581
1962-06,10.305667,9.677000,9.996333,6.846667,10.711333,7.441333,10.548667,10.306667,9.196000,10.520333,13.757000,15.218333
1962-07,9.981935,8.370645,9.753548,6.093226,9.112903,5.877097,7.781613,8.123226,6.829677,8.613226,10.783871,11.326129
1962-08,10.964194,9.694194,10.184516,6.701290,10.465161,7.009032,11.136774,9.097419,8.645484,9.511613,13.119032,15.420968
1962-09,11.176333,9.507000,11.640000,6.164333,9.722333,6.214000,8.488000,7.020333,6.372667,8.286000,11.483667,12.313333
1962-10,9.699355,8.063548,9.357097,4.818065,8.432258,5.730000,8.448065,7.626774,6.630645,9.091290,13.286774,14.090323
1962-11,11.071333,7.984000,12.035667,5.740000,8.135667,6.338333,9.615333,5.943000,6.362333,8.084333,9.786667,13.298333
1962-12,16.785484,13.753548,14.276452,9.557419,13.724839,10.321613,13.735806,11.212258,10.683548,11.881935,16.043548,20.074516
1963-01,14.868387,11.112903,15.121613,6.635806,11.080645,7.835484,12.797419,9.844839,7.841613,9.390000,11.428710,18.822258
1963-02,14.418929,11.876429,15.697500,8.611786,12.887857,9.600357,12.729286,10.823214,8.981786,10.355714,13.266429,17.120714
1963-03,14.853871,12.271290,14.295806,9.268387,13.112903,10.088065,12.168387,11.340968,9.690968,11.515484,13.982903,14.132581
1963-04,11.616000,10.138000,13.233667,7.990333,11.515333,9.727000,11.979000,11.353000,10.341667,11.900333,13.875667,16.333667
1963-05,12.879677,11.010645,12.881290,8.411613,12.981613,9.739677,12.280968,10.964194,10.745161,11.394839,14.777097,14.975161
1963-06,10.623333,8.434667,11.685000,6.420333,10.142667,7.219333,9.267333,9.589333,8.583667,9.585333,12.098000,11.358667
...,...,...,...,...,...,...,...,...,...,...,...,...
1976-07,9.687742,7.980968,8.267742,4.631613,7.576774,4.927419,6.994839,5.135806,7.941290,6.491290,10.264194,11.912258
1976-08,7.640645,5.366129,9.000645,3.142258,4.695484,3.847742,5.437097,3.362581,5.946452,4.496452,7.079677,9.438387
1976-09,11.703667,10.515333,10.466333,5.313333,8.761333,7.062333,8.617667,6.415333,8.953333,7.263333,11.587000,17.634000
1976-10,12.427097,9.572258,10.640000,4.885484,9.393548,6.906452,6.380323,6.933226,7.552258,7.449032,11.837742,15.078065
1976-11,10.962667,9.443667,9.202000,3.696000,7.459333,7.026333,9.058333,5.791000,6.577000,7.512333,12.568333,15.685333
1976-12,11.962258,10.086774,10.474516,3.383871,7.645484,6.148387,8.034516,4.500000,5.952258,6.147742,7.814839,14.346774
1977-01,13.404516,10.377742,12.764839,5.884516,9.159677,8.005161,10.107419,7.211613,8.280000,9.328387,12.131935,18.830000
1977-02,12.336786,11.898929,12.016786,5.317500,10.134643,9.423929,10.949643,7.965357,9.320000,8.711429,11.435357,17.561429
1977-03,16.750000,14.499677,16.118387,8.414516,13.293871,11.562258,14.283226,11.361613,12.102581,11.906452,15.863226,19.133548
1977-04,14.955333,12.293000,12.689667,7.422333,11.740000,10.137000,13.887667,9.574000,10.342333,11.419667,15.593667,18.274667
1977-05,9.441290,7.173871,12.455806,4.507742,6.198387,6.689677,9.226452,5.638387,6.699355,6.045484,10.213548,11.936129
1977-06,11.040000,8.353000,12.228000,4.864000,8.790333,7.209667,8.799667,5.931000,7.065333,6.583333,11.321333,11.175333
1977-07,10.881935,8.663548,10.816452,5.419677,9.014839,7.600000,9.961935,6.526129,7.980968,7.620000,12.924194,12.186774
1977-08,9.233548,7.727742,10.679032,4.453871,6.620645,5.961290,8.943548,4.543226,6.384839,5.694839,9.825161,11.659355
1977-09,12.472333,10.742667,11.849333,5.638667,10.077333,8.242667,11.939333,7.923000,8.828000,8.506333,14.051000,17.030333
1977-10,15.004516,13.960000,12.819677,6.754194,11.779032,9.671613,12.924839,11.875161,11.481290,10.340323,17.640968,19.842903
1977-11,16.946667,15.444667,13.561333,7.584000,12.088667,9.161333,14.051000,11.286000,10.318667,10.327000,17.215333,22.333000
1977-12,14.751935,12.744839,13.469677,6.592258,11.247742,9.466774,13.231613,10.703871,10.401613,9.415484,13.237419,19.299677
1978-01,14.291935,11.872258,12.014194,6.463226,11.402903,7.517097,12.207097,10.206452,9.549032,9.247419,15.101613,20.715806
1978-02,14.143571,12.153214,13.803214,6.828929,11.196786,7.858929,11.903214,11.068929,10.052143,8.093929,10.353929,17.298571
1978-03,14.717097,14.601935,13.334194,8.231290,12.783226,9.488710,12.129355,11.665161,11.656452,9.657097,14.234194,18.611290
1978-04,11.805000,11.255667,12.516333,5.920333,10.218000,7.301667,8.586333,8.306667,8.537000,6.999000,11.190667,14.152000
1978-05,8.270645,7.226774,6.901613,3.740645,6.973871,4.449677,5.420968,6.130645,5.742581,5.926452,9.263548,10.756452
1978-06,11.386667,9.474333,10.253333,6.053000,10.395333,7.490333,7.928000,7.802000,8.220333,7.550000,11.501000,15.078667
1978-07,12.820000,9.750968,9.910323,6.483871,10.055161,7.820645,7.831935,8.459355,8.523871,7.732903,12.648710,14.077419
1978-08,9.645161,8.259355,9.032258,4.502903,7.368065,5.935161,5.650323,5.417742,7.241290,5.536774,10.466774,12.054194
1978-09,10.913667,10.895000,10.635000,5.725000,10.372000,9.278333,10.790333,9.583000,10.069333,8.939000,15.680333,19.391333
1978-10,9.897742,8.670968,9.295806,4.721290,8.525161,6.774194,8.115484,7.337742,8.297742,8.243871,13.776774,17.150000
1978-11,16.151667,14.802667,13.508000,7.317333,11.475000,8.743000,11.492333,9.657333,10.701333,10.676000,17.404667,20.723000
1978-12,16.175484,13.748065,15.635161,7.094839,11.398710,9.241613,12.077419,10.194839,10.616774,11.028710,13.859677,21.371613

### Step 14. Downsample the record to a weekly frequency for each location.

In [149]:
data.groupby(data.index.to_period('W')).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1960-12-26/1961-01-01,15.040000,14.960000,13.170000,9.290000,NaN,9.870000,13.670000,10.250000,10.830000,12.580000,18.500000,15.040000
1961-01-02/1961-01-08,13.541429,11.486667,10.487143,6.417143,9.474286,6.435714,11.061429,6.616667,8.434286,8.497143,12.481429,13.238571
1961-01-09/1961-01-15,12.468571,8.967143,11.958571,4.630000,7.351429,5.072857,7.535714,6.820000,5.712857,7.571429,11.125714,11.024286
1961-01-16/1961-01-22,13.204286,9.862857,12.982857,6.328571,8.966667,7.417143,9.257143,7.875714,7.145714,8.124286,9.821429,11.434286
1961-01-23/1961-01-29,19.880000,16.141429,18.225714,12.720000,17.432857,14.828571,15.528571,15.160000,14.480000,15.640000,20.930000,22.530000
1961-01-30/1961-02-05,16.827143,15.460000,12.618571,8.247143,13.361429,9.107143,12.204286,8.548571,9.821429,9.460000,14.012857,11.935714
1961-02-06/1961-02-12,19.684286,16.417143,17.304286,10.774286,14.718571,12.522857,14.934286,14.850000,14.064286,14.440000,21.832857,19.155714
1961-02-13/1961-02-19,15.130000,15.091429,13.797143,10.083333,13.410000,11.868571,9.542857,12.128571,12.375714,13.542857,21.167143,16.584286
1961-02-20/1961-02-26,15.221429,13.625714,14.334286,8.524286,13.655714,10.114286,11.150000,10.875714,10.392857,12.730000,16.304286,14.322857
1961-02-27/1961-03-05,12.101429,12.951429,11.063333,7.834286,12.101429,9.238571,10.232857,11.130000,10.383333,12.370000,17.842857,13.951667
1961-03-06/1961-03-12,9.376667,11.578571,10.845714,7.137143,10.940000,9.488571,6.881429,9.637143,9.885714,10.458571,16.701429,14.420000
1961-03-13/1961-03-19,11.911429,13.501429,11.607143,7.084286,10.751429,8.652857,10.041429,10.220000,10.101429,11.627143,19.350000,16.227143
1961-03-20/1961-03-26,9.567143,8.387143,9.695714,6.648571,8.964286,7.982857,10.774286,8.977143,10.904286,11.481429,14.037143,18.134286
1961-03-27/1961-04-02,10.757143,8.852857,9.501429,7.300000,9.975714,9.165714,11.125714,9.061429,10.478333,9.631429,13.471429,13.900000
1961-04-03/1961-04-09,11.964286,10.654286,13.607143,5.958571,9.494286,7.637143,7.107143,8.041429,8.161429,7.238571,11.712857,11.371429
1961-04-10/1961-04-16,8.965714,8.000000,8.787143,4.971429,6.405714,4.947143,5.005714,4.994286,5.718571,6.178571,9.482857,8.690000
1961-04-17/1961-04-23,12.621429,10.438571,10.255714,7.768571,10.357143,7.798571,9.000000,9.111429,8.767143,9.551429,13.620000,12.470000
1961-04-24/1961-04-30,10.117143,9.798571,8.281429,4.801429,7.892857,5.197143,6.150000,6.377143,6.242857,6.124286,9.720000,8.637143
1961-05-01/1961-05-07,15.367143,13.970000,13.834286,9.952857,14.917143,10.864286,11.435714,12.244286,11.677143,11.585714,17.548571,14.571429
1961-05-08/1961-05-14,7.772857,8.712857,8.172857,5.295714,9.150000,6.391429,8.013333,7.052857,7.528571,7.822857,10.421429,10.382857
1961-05-15/1961-05-21,8.225714,5.631667,12.042857,4.258571,7.597143,5.022857,5.695714,6.970000,6.847143,7.114286,9.624286,10.612857
1961-05-22/1961-05-28,8.155714,7.388571,8.512857,3.748333,6.941429,4.112857,5.142857,6.272857,6.108571,7.535714,10.518571,11.697143
1961-05-29/1961-06-04,10.321429,7.407143,10.065714,6.310000,9.754286,6.451429,8.344286,8.635714,8.714286,9.035714,12.298571,13.597143
1961-06-05/1961-06-11,10.917143,8.992857,8.095714,5.214286,10.030000,5.460000,7.084286,6.884286,8.034286,8.397143,10.148571,12.250000
1961-06-12/1961-06-18,10.571429,9.565714,10.875714,6.520000,10.260000,6.947143,9.278571,9.102857,8.992857,9.594286,15.351429,15.025714
1961-06-19/1961-06-25,7.345714,6.108571,8.084286,5.478571,11.477143,7.492857,11.868571,9.447143,10.458571,11.257143,14.370000,17.410000
1961-06-26/1961-07-02,10.236667,9.482857,8.648571,6.772857,10.975714,6.507143,7.642857,9.237143,7.904286,10.268571,14.535714,12.133333
1961-07-03/1961-07-09,11.715714,7.220000,9.320000,7.544286,12.494286,7.982857,11.888333,9.308571,10.732857,10.547143,12.220000,15.987143
1961-07-10/1961-07-16,16.680000,13.518571,11.171429,9.277143,14.524286,8.412857,10.171429,10.507143,9.530000,10.157143,13.520000,12.524286
1961-07-17/1961-07-23,4.202857,4.255714,6.738571,3.300000,6.112857,2.715714,3.964286,5.642857,5.297143,6.041429,7.524286,8.415714
...,...,...,...,...,...,...,...,...,...,...,...,...
1978-06-05/1978-06-11,12.022857,9.154286,9.488571,5.971429,10.637143,8.030000,8.678571,8.227143,9.172857,9.642857,11.632857,17.778571
1978-06-12/1978-06-18,9.410000,8.770000,14.135714,6.457143,8.564286,6.898571,7.297143,7.464286,7.054286,6.225714,11.398571,12.957143
1978-06-19/1978-06-25,12.707143,10.244286,8.912857,5.878571,10.372857,6.852857,7.648571,7.875714,7.865714,7.084286,13.030000,16.678571
1978-06-26/1978-07-02,12.208571,9.640000,10.482857,7.011429,12.772857,9.005714,11.055714,8.917143,9.994286,7.498571,12.268571,15.287143
1978-07-03/1978-07-09,18.052857,12.630000,11.984286,9.220000,13.414286,10.762857,11.368571,11.218571,11.272857,11.082857,14.754286,18.215714
1978-07-10/1978-07-16,5.882857,3.244286,5.358571,2.250000,4.618571,2.631429,2.494286,3.540000,3.397143,3.214286,7.198571,7.578571
1978-07-17/1978-07-23,13.654286,10.007143,9.915714,6.577143,10.757143,8.282857,8.147143,9.301429,8.952857,8.402857,13.847143,14.785714
1978-07-24/1978-07-30,12.172857,11.854286,11.094286,6.631429,9.918571,8.707143,7.458571,9.117143,9.304286,8.148571,15.192857,14.584286
1978-07-31/1978-08-06,12.475714,9.488571,10.584286,5.457143,8.724286,5.855714,7.065714,5.410000,6.631429,4.962857,9.084286,11.405714
1978-08-07/1978-08-13,10.114286,9.600000,7.635714,4.790000,8.101429,6.702857,5.452857,5.964286,7.518571,5.661429,10.691429,11.927143
1978-08-14/1978-08-20,11.100000,11.237143,10.505714,5.697143,9.910000,8.034286,7.267143,8.517143,9.815714,7.941429,15.000000,14.405714
1978-08-21/1978-08-27,6.208571,5.060000,8.565714,3.121429,4.638571,4.077143,3.291429,3.500000,5.877143,4.447143,8.131429,10.661429
1978-08-28/1978-09-03,8.232857,4.888571,7.767143,3.588571,3.892857,5.090000,6.184286,3.000000,6.202857,4.745714,8.105714,13.150000
1978-09-04/1978-09-10,11.487143,12.742857,11.124286,5.702857,10.721429,10.927143,9.157143,9.458571,10.588571,8.274286,14.560000,16.752857
1978-09-11/1978-09-17,12.067143,10.648571,11.610000,6.864286,12.252857,11.868571,13.017143,12.447143,11.908571,10.957143,18.422857,23.441429
1978-09-18/1978-09-24,5.845714,8.317143,9.305714,2.554286,5.625714,5.171429,7.047143,6.750000,6.870000,6.291429,13.447143,15.324286
1978-09-25/1978-10-01,16.252857,14.131429,12.098571,8.832857,15.810000,10.338571,15.124286,12.378571,12.275714,11.970000,19.160000,24.158571
1978-10-02/1978-10-08,12.865714,13.302857,11.671429,6.531429,11.731429,8.881429,9.707143,9.708571,11.391429,10.161429,16.498571,20.618571
1978-10-09/1978-10-15,9.611429,6.327143,9.250000,4.167143,6.821429,6.237143,5.577143,6.348571,7.232857,7.285714,12.197143,14.177143
1978-10-16/1978-10-22,9.804286,7.817143,7.642857,5.314286,9.124286,6.862857,9.391429,7.428571,7.765714,8.048571,12.708571,17.868571
1978-10-23/1978-10-29,7.504286,7.702857,8.102857,3.204286,7.464286,5.905714,8.727143,6.652857,7.605714,8.120000,14.487143,16.915714
1978-10-30/1978-11-05,13.060000,13.465714,12.137143,6.682857,9.891429,8.314286,9.775714,9.638571,10.185714,10.422857,18.451429,18.721429
1978-11-06/1978-11-12,14.857143,15.237143,12.007143,7.684286,12.460000,9.352857,10.224286,10.554286,11.168571,12.232857,19.307143,22.522857
1978-11-13/1978-11-19,20.590000,18.998571,17.272857,10.417143,14.220000,11.208571,16.081429,12.915714,13.297143,13.242857,20.357143,23.905714
1978-11-20/1978-11-26,16.498571,13.971429,13.544286,6.361429,10.438571,7.404286,12.797143,7.571429,9.998571,8.915714,15.207143,19.491429
1978-11-27/1978-12-03,14.934286,11.232857,13.941429,5.565714,10.215714,8.618571,9.642857,7.685714,9.011429,9.547143,11.835714,18.728571
1978-12-04/1978-12-10,20.740000,19.190000,17.034286,9.777143,15.287143,12.774286,14.437143,12.488571,13.870000,14.082857,18.517143,23.061429
1978-12-11/1978-12-17,16.758571,14.692857,14.987143,6.917143,11.397143,7.272857,10.208571,7.967143,9.168571,8.565714,11.102857,15.562857
1978-12-18/1978-12-24,11.155714,8.008571,13.172857,4.004286,7.825714,6.290000,7.798571,8.667143,7.151429,8.072857,11.845714,18.977143
1978-12-25/1978-12-31,14.951429,11.801429,16.035714,6.507143,9.660000,8.620000,13.708571,10.477143,10.868571,11.471429,12.947143,26.844286

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [150]:
data.groupby(data.index.week).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1,13.920000,11.710880,12.853016,6.617302,10.473175,7.578492,11.623651,9.123600,9.272222,9.870635,14.241746,18.249841
2,15.549921,13.359524,14.016349,7.307698,12.183810,8.170238,11.934365,9.502460,9.428095,9.798175,14.494603,17.623413
3,14.950159,13.281349,13.166825,7.060794,11.959200,8.320238,11.856905,9.696825,9.597619,10.169444,14.578254,17.981190
4,15.241920,13.575317,13.554524,7.698413,12.110079,8.235159,11.732857,9.854048,9.822302,10.352063,14.892222,18.337381
5,14.559127,12.853413,13.070794,7.400952,11.823730,8.165397,11.995714,9.682381,9.854286,10.196111,14.667381,17.702222
6,13.203730,11.508492,12.142619,6.469127,11.025476,7.166746,11.115317,8.894206,9.323413,9.298175,13.903254,17.921587
7,14.517460,12.681349,13.219524,7.148160,12.141032,7.906190,11.390238,9.749524,9.417778,9.605476,13.776667,17.130159
8,13.422857,11.822937,13.367381,7.142400,11.480635,7.729683,11.329048,9.329762,9.247063,9.541984,13.132302,16.882540
9,12.761360,11.837460,12.627440,6.620000,10.937143,7.457778,10.622778,9.387778,8.864160,9.611508,13.724048,16.602080
10,13.526720,11.758095,13.151667,7.317063,11.477143,7.965397,10.751111,9.151825,9.367302,9.761429,13.055000,16.047381
11,13.597143,11.495079,13.032698,7.446270,11.689206,7.990238,11.444365,10.038968,9.783730,10.398730,13.823968,17.331280
12,13.006825,11.621032,12.579048,7.390476,11.850476,8.288095,12.008413,10.136746,10.176270,10.259048,14.389524,17.859365
13,12.772540,11.076349,12.104444,7.386640,11.664286,8.042063,11.306587,9.494365,9.977760,10.038571,14.241667,16.486508
14,13.903968,11.025238,14.149286,7.798968,11.482857,8.006905,11.525238,9.579921,9.894762,9.948175,13.386270,16.691349
15,12.599444,9.966667,11.654286,6.758175,10.642540,7.377778,10.677143,9.328413,9.248333,9.338413,12.842460,15.900476
16,12.753968,11.111587,11.966587,7.110000,10.983730,7.660794,9.981905,8.763571,8.802063,9.326905,12.472857,14.229524
17,10.966349,9.647698,11.272619,6.019286,9.627857,6.687063,8.870714,8.091825,7.836032,8.238333,11.971667,13.097460
18,12.897222,11.095079,11.256825,6.745794,11.035952,7.405238,9.318730,8.674206,8.340952,8.952857,12.928968,14.523810
19,13.061429,11.275159,12.630397,7.005238,10.944683,7.559603,9.624320,9.111349,8.604683,9.243254,13.721984,14.288016
20,11.338571,9.769200,11.566746,6.195238,9.967937,6.811429,8.732857,8.495317,7.984365,8.507540,12.740952,13.859286
21,11.282698,9.673889,11.223968,5.975680,10.051905,6.730476,8.435397,8.150556,7.871587,8.278413,12.536270,13.626825
22,9.673333,8.264683,10.382302,5.195397,8.696825,5.802063,7.275873,7.533016,7.120873,7.247222,11.238810,11.770317
23,10.092143,8.980556,10.030476,5.304048,8.882143,5.816825,7.420952,7.387857,7.031587,7.173810,11.605635,12.395476
24,10.131905,8.741984,10.518254,5.498492,8.997381,6.189762,7.320317,7.597143,7.172857,7.259524,11.835873,12.041270
25,11.680238,9.898016,10.730397,6.294444,11.030397,7.410952,9.410238,8.822698,8.728016,8.677063,13.494762,14.329841
26,10.036000,8.770635,10.113333,5.798492,9.680159,6.474603,8.226032,7.920556,7.906270,7.937778,12.462222,12.993840
27,9.991984,7.916984,8.741032,5.276825,8.998175,5.852302,7.817680,7.182143,7.662143,7.451349,11.582857,13.096984
28,9.962143,8.272619,9.651349,5.461270,9.344206,5.951111,7.937857,7.341746,7.671905,7.267063,11.450159,12.932460
29,10.281746,8.422063,9.755079,5.672778,9.766667,6.300238,8.277619,7.568175,7.725952,7.616349,12.021667,12.880476
30,9.760397,8.211984,9.181587,5.195476,8.920873,5.657222,7.566905,6.904603,7.078571,7.010317,11.410794,12.279683
31,9.721984,8.218571,9.585556,5.078651,8.940397,5.692857,7.470397,6.646746,7.039206,6.615556,11.020317,12.348492
32,10.202640,8.669683,9.357619,5.524206,9.143492,6.091984,7.518413,6.896190,7.409365,7.057840,11.154365,12.746587
33,10.213254,8.000476,10.086667,5.169127,8.638413,5.652619,7.635635,6.591746,7.033413,6.502460,10.647222,11.315680
34,10.675556,9.065317,10.466190,5.380635,9.343651,6.275317,8.164603,7.503889,7.753730,7.779206,11.881667,13.764762
35,10.378571,8.525476,10.496746,5.398571,8.739444,5.938968,8.088889,6.907857,7.063016,7.213175,11.606825,13.390873
36,10.764365,9.296190,9.931270,5.387381,9.245873,6.353810,8.314603,7.012857,7.449762,7.221905,11.597619,13.754921
37,11.371190,9.722857,10.963889,5.638810,9.603968,6.646587,8.698492,7.704841,7.532143,7.645952,12.658968,14.827540
38,9.929524,8.863095,10.245280,4.462080,8.346190,5.408175,7.285079,6.724640,6.387381,6.423095,11.394127,13.094921
39,13.960635,12.361920,11.787302,6.898095,11.971032,7.882540,10.012619,9.489206,8.933413,9.402540,14.980000,16.928095
40,12.199841,10.619127,11.392698,5.854048,10.308175,6.841508,9.301905,8.581111,8.561667,8.519524,13.326429,15.758095
41,12.260800,10.581508,11.316190,5.468889,9.998254,6.667460,8.667778,8.279444,7.782540,8.176825,13.550952,15.663571
42,12.777460,10.966587,11.381667,6.349048,10.716032,7.526032,9.941349,8.802222,8.460873,9.039286,14.088175,17.116111
43,13.358651,11.915238,11.888095,6.554286,11.363571,7.769524,10.170873,9.458889,8.925840,9.800873,16.055873,18.580952
44,13.338254,11.704444,12.378889,6.522857,10.578651,7.346746,9.806349,9.072063,8.721190,9.427222,14.410079,18.089048
45,13.292857,11.758968,12.691984,6.169048,10.683333,7.268968,10.657222,8.751429,8.747937,8.962302,13.990317,18.065794
46,14.081746,12.423571,13.064365,6.937619,11.509206,7.785794,11.578730,8.881587,9.058968,9.487302,14.063889,19.360873
47,11.731508,10.361667,11.107698,5.413968,9.200952,6.172540,10.071920,7.322222,7.690397,7.933095,12.399762,16.473254
48,13.843413,12.230159,12.048016,6.364762,11.060238,7.585952,11.483254,8.639048,8.944365,9.121190,14.481111,18.234365
49,14.685000,12.947222,12.649286,7.161984,11.855635,8.497937,12.840952,9.561905,10.218492,9.994524,15.140397,19.625714
50,14.462619,12.462619,12.750714,7.041349,11.603095,8.226508,11.780714,9.310635,9.301508,9.842698,14.716905,18.242937
51,13.639921,11.697619,12.501667,5.991270,10.541667,7.275159,10.301667,8.462619,8.438730,8.687937,13.298889,17.182063
52,14.469134,11.692283,14.210000,7.018189,10.856905,7.379213,12.011969,9.121811,9.665197,9.677953,13.549055,19.183228
53,12.694286,9.451905,13.526190,5.343810,8.040476,5.884286,10.366190,5.556190,6.954286,7.820952,11.028095,17.103810

In [151]:
# resample data to 'W' week and use the functions
weekly = data.resample('W').agg(['min','max','mean','std'])

# slice it for the first 52 weeks and locations
weekly.loc[weekly.index[1:53], "RPT":"MAL"] .head(10)

              RPT                                VAL                    \
              min    max       mean       std    min    max       mean
Yr_Mo_Dy
1961-01-08  10.58  18.50  13.541429  2.631321   6.63  16.88  11.486667
1961-01-15   9.04  19.75  12.468571  3.555392   3.54  12.08   8.967143
1961-01-22   4.92  19.83  13.204286  5.337402   3.42  14.37   9.862857
1961-01-29  13.62  25.04  19.880000  4.619061   9.96  23.91  16.141429
1961-02-05  10.58  24.21  16.827143  5.251408   9.46  24.21  15.460000
1961-02-12  16.00  24.54  19.684286  3.587677  11.54  21.42  16.417143
1961-02-19   6.04  22.50  15.130000  5.064609  11.63  20.17  15.091429
1961-02-26   7.79  25.80  15.221429  7.020716   7.08  21.50  13.625714
1961-03-05  10.96  13.33  12.101429  0.997721   8.83  17.00  12.951429
1961-03-12   4.88  14.79   9.376667  3.732263   8.08  16.96  11.578571

                        ROS           ...           CLO              BEL  \
                 std    min    max    ...          mean       std    min
Yr_Mo_Dy                              ...
1961-01-08  3.949525   7.62  12.33    ...      8.497143  1.704941   5.46
1961-01-15  3.148945   7.08  19.50    ...      7.571429  4.084293   5.25
1961-01-22  3.837785   7.29  20.79    ...      8.124286  4.783952   6.50
1961-01-29  5.170224  12.67  25.84    ...     15.640000  3.713368  14.04
1961-02-05  5.187395   9.04  19.70    ...      9.460000  2.839501   9.17
1961-02-12  3.608373  13.67  21.34    ...     14.440000  1.746749  15.21
1961-02-19  3.575012   6.13  19.41    ...     13.542857  2.531361  14.09
1961-02-26  5.147348   6.08  22.42    ...     12.730000  4.920064   9.59
1961-03-05  2.851955   8.17  13.67    ...     12.370000  1.593685  11.58
1961-03-12  3.230167   7.54  16.38    ...     10.458571  3.655113  10.21

                                          MAL
              max       mean       std    min    max       mean       std
Yr_Mo_Dy
1961-01-08  17.54  12.481429  4.349139  10.88  16.46  13.238571  1.773062
1961-01-15  20.71  11.125714  5.552215   5.17  16.92  11.024286  4.692355
1961-01-22  15.92   9.821429  3.626584   6.79  17.96  11.434286  4.237239
1961-01-29  27.71  20.930000  5.210726  17.50  27.63  22.530000  3.874721
1961-02-05  19.33  14.012857  4.210858   7.17  19.25  11.935714  4.336104
1961-02-12  26.38  21.832857  4.063753  17.04  21.84  19.155714  1.828705
1961-02-19  29.63  21.167143  5.910938  10.96  22.58  16.584286  4.685377
1961-02-26  23.21  16.304286  5.091162   6.67  23.87  14.322857  6.182283
1961-03-05  23.45  17.842857  4.332331   8.83  17.54  13.951667  3.021387
1961-03-12  22.71  16.701429  4.358759   5.54  22.54  14.420000  5.769890

[10 rows x 48 columns]